
h1 {
    color:black;
    font-family: Arial;
    text-align: left;
    font-size: x-large;
}
h2 {
    color: red;
    font-family: Arial;
    text-align: center;
    font-size:xx-large;
}
p {
    color: black;
    font-family: Arial;
    font-size: medium;
}
body {
    background-color:whitesmoke;
    color: black;
    font-family: Verdana, Arial, sans-serif;
    padding: 20px;
}
.header {
    color: black;
    font-family: Arial;
    font-size: medium;
    margin: auto;
}
.footer {
    color: black;
    font-family: Arial;
    font-size: medium;
    margin: auto;
}
.wrapper {
    width: 1000px;
    padding-right: 10px;
    padding-left: 10px;
}
nav {
    display: block;
    color:black;
    padding: 10px;
    text-align: right;
    background-color:aqua;
}
#question {
    color: blue;
    font-family: Arial;
    text-align: center;
    font-size: large;
    font-weight:bold;
}
ul {
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:20px;
}